body{
    text-align: center;
    /* font-family: 'Do Hyeon', sans-serif; */
    line-height: 1.5;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.item{
    margin: 50px;
}

div h1 span:nth-child(1){
    color:blue;
}
div h1 span:nth-child(2){
    color:red;
}
div h1 span:nth-child(3){
    color:yellow;
}
div h1 span:nth-child(4){
    color:blue;
}
div h1 span:nth-child(5){
    color:green;
}
div h1 span:nth-child(6){
    color:red;
}

form{
    display: flex;
    align-items: center;
    width: 560px;
    height: 44px;
    padding: 0px 25px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px 0px rgba(218, 220, 224);
    border: 1px rgba(218, 220, 224);
    border-radius: 25px;
}
input {
    border: none;
    height: 90%;
    width: 100%;
    outline: none;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    font-size: 17px;
  }
 .searchbox{
    display: flex;
    justify-content: center;
 }
 button{
    background-color:transparent;
    border:0;
    outline:0;
 }
 header{
     display: flex;
     justify-content: flex-end;
 }
 .headeritem{
    margin: 7px;
    font-size: smaller;
    border: none;
    background: none;
    float: left;
 }