div{
    text-align: center;
}
span{
    text-align: center;
}
h1{
    background-color:rgb(249, 224, 224);
    font-family: 'Black Han Sans', sans-serif;
    font-weight: lighter;
}
h1 span:nth-child(1) {
    color : hotpink;
}

h1 span:nth-child(2) {
    color:salmon;
}
a{
    color:hotpink;
    font-family: 'Do Hyeon', sans-serif;
}
h3{
    color:hotpink;
    background-color:rgb(249, 224, 224);
    font-family: 'Black Han Sans', sans-serif;
    font-weight: lighter;
    }
p{
    color:hotpink;
    font-family: 'Do Hyeon', sans-serif;
}